<form class="example-form center">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Movie name...</mat-label>
      <input type="text"
             placeholder="ex : Star Wars"
             aria-label="Movie name"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>